<div class="row">
	<div class="col-xs-12">
		<br />
		<br />
		<div class="row">
			<div class="col-xs-6">
				<h1>Hello Marcel - Backoffice</h1>
			</div>
			<div class="col-xs-6 user-interface">
				<a href="/">Retour au site</a>
				&nbsp;&nbsp;&nbsp;
				<a href="/songs">Les podcasts</a>
				&nbsp;&nbsp;&nbsp;
				<a href="/users">Users</a>
				&nbsp;&nbsp;&nbsp;
				<a href="/categorys">Categories</a>
			</div>
		</div>
		<br />
		<br />
	</div>
</div>
<% if (typeof msg !== 'undefined') { %>
	<div class="alert alert-danger fade in">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<% msg.forEach((message) => { %>
			<strong>Attention : </strong><%= message %><br>
		<% }); %>
	</div>
<% } %>
<% if (typeof msgOk !== 'undefined') { %>
	<div class="alert alert-success fade in">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<% msgOk.forEach((message) => { %>
			<%= message %><br>
		<% }); %>
	</div>
<% } %>
