@font-face {
    font-family: brandon;
    src: url('./Brandon_reg.otf');
}

@font-face {
	font-family: avenirl;
	src: url('./Avenir_Light.otf');
}

@font-face {
	font-family: avenirh;
	src: url('./AvenirLTStd-Heavy.woff');
}

h1 {
	font-family: brandon;
}

.no-decorations, .no-decorations:hover, .no-decorations:active, .no-decorations:visited {
	color:inherit;
	text-decoration: none;
}

.fa-play-circle, .fa-lock {
	padding-right: 4px;
	font-size: 20px;
	position: absolute;
	margin-left: -25px;
	margin-top: 1px;
}

#playerContainer {
	position: fixed;
	bottom: 0;
}

.user-interface {
	float: right;
	padding-top: 30px;
	padding-right: 15px;
}

.hm-logo {
	max-width: 100%;
}

.list-img {
	margin: auto;
	width: 100%;
}

h1 .title {
	font-size: 10px;
}

@media (max-width:1200px) {
	.avis {
		height: 290px;
	}
}
