@font-face {
    font-family: brandon;
    src: url('./Brandon_reg.otf');
}

body {
	background-color: #666666;
}

@font-face {
	font-family: avenirl;
	src: url('./Avenir_Light.otf');
}

@font-face {
	font-family: avenirh;
	src: url('./AvenirLTStd-Heavy.woff');
}

h1 {
	font-family: brandon;
}

a, a:hover, a:focus, a:visited, a:target {
	color: white;
}

.fa-play-circle, .fa-lock {
	font-size: 20px;
	padding-top: 10px;
	color: #EF4C6C;
}

.mejs_liked {
	color: #EF4C6C;
}

.mejs_like {
	color: white;
}

.heartsong {
	font-size: 20px !important;
    padding-top: 10px;
}

.fa-heart-spe {
	font-size: 25px;
    padding-top: 10px;
}

.fa-file-pdf-o {
	font-size: 20px !important;
	padding-top: 10px;
	color: #EF4C6C;
}

.whiteloadingbar {
	margin: auto;
	margin-top: -8px;
	background-color: white;
	width: 100%;
	height: 4px;
}

.modal-content {
	background-color: #282828;
	color: white;
}

.category {
	border-radius: 40px;
	padding: 0px 25px 15px 25px;
	background-color: #51E99D;
}

h3 {
	padding-bottom: 5px;
	color: white;
}

.categoryBody {
	padding: 20px 0 20px 0;
	background-color: #424242;
}

.formSwapForm input {
	margin-bottom: 5px;
	color: black;
}

.formSwapForm {
	background-color: #424242;
	border-radius: 20px 20px 20px 20px;
	padding: 20px 10px 20px 10px;
	height: 150px;
}

.formSwapLink {
	padding: 20px 15px 25px 15px;
}

.activeLink {
	background-color: #424242;
	border-radius: 20px 20px 0px 0px;
}

.modal-header, .modal-footer {
	border-color: #51E99D;
}

.greenborder {
	border-width: 3px;
	border-style: solid;
	padding: 25px;
	border-radius: 25px;
	border-color: #51E99D;
}

.greenloadingbar {
	background-color: #EF4C6C;
	height: 4px;
}

.activeLink, .activeLink:hover, .activeLink:focus, .activeLink:visited, .activeLink:target {
	color: #51E99D;
}

.song, .presentation {
	cursor: pointer;
}

.mejs__time-current {
	background-color: #51E99D !important;
}

.mejs__horizontal-volume-current {
	background-color: #4DDC92 !important;
}

.no-decorations, .no-decorations:hover, .no-decorations:active, .no-decorations:visited {
	color:inherit;
	text-decoration: none;
}

.avis {
	height: 40px;
	width: 170px;
}

.button {
	display: block;
	margin: auto;
	text-decoration: none !important;
	text-align: center;
	background-color: #51E99D;
	color: white;
	padding: 10px 0 10px 0;
	border-radius: 40px;
}

.avisButton:hover {
	background-color: #4DDD99;
}

.presentation {
	display: inline-block;
	background-color: #666666;
	border-radius: 50px;
	padding: 0px 10px 5px 10px;
}

#playerContainer {
	position: fixed;
	bottom: 0;
}

.user-interface {
	float: right;
	padding-top: 15px;
	padding-right: 15px;
}

.hm-logo {
	width: 100%;
}

.close, .close:hover {
	color: #51E99D;
}

.list-img {
	margin: auto;
	width: 100%;
}

.presentationSong .fa-play-circle {
	font-size: 45px;
}

.mejs__container {
	text-align: center;
}

.presentationSong {
	padding-top: 0;
}

.presentationText {
	margin-top: -20px !important;
}

.titleSong {
	font-size: 10px;
	z-index: 50;
	padding-top: 8px;
	width: 100%;
	position: relative;
	color: white;
	text-align: left;
	background-color: rgba(0, 0, 0, 0);
}

h1 .title {
	font-family: brandon;
	font-size: 10px;
}

.firstBulle {
	margin-left: 24%;
	background-image: url('/images/FamilyTime3.png');
	color: white;
}

@media (max-width:991px) {
	.firstBulle {
		margin-left: 0;
	}
}
